/* Reset default margin and padding */
* {
    margin: 0;
    font-family: arial;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    justify-content: space-evenly;
    height:60px;
    background-color:#0f1111;
    color: aliceblue;
    display: flex;
    align-items: center;
    
}
.amazon_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    width: 100px;
    height: 50px;
    background-size: cover;
}

.border{
    border:1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
        color: #cccccc;
        font-size: 0.9rem;
        margin-left: 15px;
}
.add-second{
    color: white;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(227, 165, 73);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;

}
span{
    font-size: 0.7rem;
}
.second{
    font-size: 0.8rem;
    font-weight: 700;
}
.nav-search:hover{
    border: 2px solid orange;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-weight: 700;
}
.panel-ops a{
    color: white;
    user-select: none;
    margin-left: 17px;
    text-decoration: none;
}
.panel-ops a:hover{
    border: 1.5px solid white;
}
.panel-all{
    margin-right: 30px;
}
.panel a:hover{
    color: white;
}
/*-------------------------------------------------------------------------------------------------------*/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;

}
/*-------------------------------------------------------------------------------------------------------*/
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    transition: 1s;
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
}
.shop{
    display: flex;
    justify-content: space-evenly;
    background: #fbd9b3;
}
.shop img{
  padding-inline: 5px;
  grid-row: 5px;
    height:130px;
    width: 150px;
    
}
.box1-img{
  padding: 20px;
    
}
.box2-img{
    padding: 20px;
      
  }
  .box3-img{
    padding: 20px;
      
  }
  .box4-img{
    padding: 20px;
      
  }
 h2{
    margin-top: 10px;
    text-align: center;

}
.shop a{
    padding-left:20px;
    color:skyblue;
    text-decoration: none;
}
.movie{
   
    margin-top: 20px;
    margin-bottom: 20px;
    height:255px;
    width: 60%;
    background-color: whitesmoke;
    background-position: center;
}
img{
    padding-left: 250px;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.sale-first{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
}
.sale-first p{
    
    padding-left: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
    
}
.sale-first a{
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
    color:skyblue;
    font-size: 0.9rem;
}
a:hover{
    color: red;
}
.sale-second{
    display: flex;
    justify-content: space-evenly;
    background: antiquewhite;
    padding-bottom: 30px;
    height: 240px;
    overflow-x: auto;
}

.sale-second img{
    margin: 0;
    padding-inline: 7px;
    height:230px;
    width: 280px;
    transition: 1s;
    padding-top: 20px;
    padding-bottom: 40px;
    
}
.sale-second img:hover{
    transform: scale(1.3);
    z-index: 2;
}
.last{
    background-color: #232f3e;
    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.last a{
    color: white;
    text-decoration: none;
}
.last p{
    color: white;
    font-weight: 1rem;
    font-size: 1.5rem;
}
.last a:hover{
    color: aqua;
}

footer{
    text-align: center;
    color: #f3f3f3;
}
